overlays
*.esproj
Guardfile
*.iml
*.ipr
*.iws
.idea
*.log
*.log.*
*.ipr
*.iws
*.iml
.settings
.metadata
.sass-cache
.DS_Store
junit*.properties
projectFilesBackup
target
.externalToolBuilders
maven-eclipse.xml
bin-groovy
atlassian-ide-plugin.private.xml
atlassian-ide-plugin.xml
.project
.classpath
